In [1]:
import plotly.offline as pyo
import plotly.graph_objs as go
import pandas as pd

In [2]:
df = pd.read_csv('dataset/historico_bioma.csv', encoding='latin-1')
df.head()

,Ano,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro,Total,Bioma
0,1998,0,0,0,0,0,1549,3192,20075,19214,8777,3833,2547,59187,Amazônia
1,1999,160,358,130,70,449,1439,3675,21525,16106,12794,4449,1703,62858,Amazônia
2,2000,87,182,405,92,930,3211,1510,12791,10062,10226,5497,3175,48168,Amazônia
3,2001,165,699,1134,617,916,4227,1816,17679,15528,14292,8346,4256,69675,Amazônia
4,2002,590,667,901,405,1490,5702,7529,43484,48549,27110,23660,9174,169261,Amazônia

In [27]:
df_aux = df[df['Bioma'] == df['Bioma'].unique()[0]]

In [28]:
tr = [go.Scatter(
    x = df_aux.columns.values[1:13],
    y = df_aux.loc[0][1:13],
    name = str(df_aux['Ano'][0]),
    hovertemplate = df_aux.columns.values[1:13] + ' de ' + 
        str(df_aux['Ano'][0]) + '<br>nº de focos: ' + [str(i) for i in list(df_aux.loc[0][1:13])],
    mode ='lines+markers'
)]
layout = go.Layout(
    title = 'Número de focos de queimadas ao longo do ano',
    showlegend=True,
    hovermode='closest',
    hoverlabel=dict(bgcolor='white',
                   font_size=16,
                    font_family='Roboto'
                   ),
    xaxis=dict(title='Meses', 
              linecolor='rgba(0,0,0,1)'),
    yaxis=dict(title='Número de focos de queimadas',
              linecolor='rgba(0,0,0,1)')
    
)
fig = go.Figure(data=tr, layout=layout)
pyo.plot(fig,filename='scatter-plot.html')

'scatter-plot.html'

In [43]:
tr = []
for i in range(df_aux.shape[0]):
    tr.append(go.Scatter(
    x = df_aux.columns.values[1:13],
    y = df_aux.loc[i][1:13],
    mode='lines+markers',
    name=str(df_aux['Ano'][i]),
    hovertemplate=df_aux.columns.values[1:13] + 'de' +
    str(df_aux['Ano'][i])+'<br>nº de focos: ' + 
    [str(i) for i in list(df_aux.loc[i][1:13])]
    ))
layout = go.Layout(
    title='Número de focos de queimadas ao lonfo do ano no bioma: '+
    df['Bioma'].unique()[0],
    showlegend=True,
    hovermode='closest',
    hoverlabel=dict(bgcolor='white',
                   font_size=16,
                   font_family='Roboto'),
    xaxis=dict(title='Meses', linecolor='rgba(0,0,0,1)'),
    yaxis=dict(title='Número de focos de queimadas', linecolor='rgba(0,0,0,1)')
)
fig=go.Figure(data=tr,layout=layout)
pyo.plot(fig,filename='scatter-plot.html')

'scatter-plot.html'

In [26]:

tr = [go.Bar(
    x = df_aux['Ano'],
    y = df_aux['Total'],
    name=df_aux['Bioma'].unique()[0],
    hovertemplate=['Total de focos de queimadas: ' +
                  i for i in [str(i) for i in (df_aux['Total'])]]
)]
layout = go.Layout(
    title ='Total de focos de queimadas ao longo de todo o período avaliado no bioma: '+
    df['Bioma'].unique()[0],
    xaxis=dict(title='Anos', linecolor='rgba(0,0,0,1)', tickmode='array', tickvals=df_aux['Ano'], ticktext=df_aux['Ano']),
    yaxis= dict(title='Total de focos de queimadas',linecolor='rgba(0,0,0,1)', tickformat=False),
    showlegend=True,
    hoverlabel=dict(bgcolor='white',
                   font_size=16,
                   font_family='Roboto')
)
fig = go.Figure(data=tr,layout=layout)
pyo.plot(fig, filename='bar-plot.html')

'bar-plot.html'

In [37]:
tr = [go.Pie(
    labels=df_aux['Ano'],
    values=df_aux['Total'],
    rotation=-30,
    insidetextorientation='radial',
    hole=.3
)]
layout = go.Layout(
    title='Total de focos de queimadas ao londo de todo o período avaliado no bioma: ' +
    df['Bioma'].unique()[0],
    annotations=[dict(text='Total',
                     x=.5,
                     y=0.5,
                     font_size=20,
                     font_family='Roboto',
                     showarrow=False)]
)
fig = go.Figure(data=tr, layout=layout)
pyo.plot(fig, filename='pie-plot.html')

'pie-plot.html'

In [40]:
df_aux.loc[1]

Ano              1999
Janeiro           160
Fevereiro         358
Março             130
Abril              70
Maio              449
Junho            1439
Julho            3675
Agosto          21525
Setembro        16106
Outubro         12794
Novembro         4449
Dezembro         1703
Total           62858
Bioma        Amazônia
Name: 1, dtype: object